/*style.css*/

html{
	font-size:100%;
	background-color:#494A5F;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p{
	margin: 0;
	padding:0;
}

body{
	font-family: "Microsoft YaHei","SimHei",arial;
	font-size:1rem;
	line-height:1.5;
}

.header{
	width:100%;
	padding-top:40px;
	padding-bottom:30px;
	color:#D5D6E2;
	background-color:#66677C;
	text-align:center;
}

.header .download{
	background: #9EC60D;
	display: inline-block;
	width:120px;
	height:37px;
	line-height:37px;
	color: #fff;
	margin-top:20px;
	text-decoration: none;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	transition: all 300ms;
}

.header .download:hover{
	color:#333;
}

.content{
	padding:40px 0;
	text-align: center;
}

.demo{
	width:200px;
	margin:0 auto 50px auto;
	text-align: left;
}

.demo strong{
	color:#D5D6E2;
}

.code{
	width:200px;
	height:120px;
	background-color:#ddd;
	margin:5px 0 20px 0;
}

button{
	cursor:pointer;
	width:80px;
	height:33px;
}
